// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

::selection { background:$orange; color:$white; } /* WebKit, Opera, & IE9 */
::-moz-selection { background:$orange; color:$white; } /* Firefox */

body{
  width: 100%;
  font-family: 'Roboto Slab', serif;
  color: $brown;
  background-color: $orange;
  a{
    cursor: pointer !important;
  }
}

.header{
  width: 100%;
  max-height: 1135px;
  display: block;
  padding-top: 90px;
  border-bottom: 18px solid $orange;
  background: url(../images/bg-header.jpg) repeat-x center top;

  .navigation{
    width: 100%;
    max-width: 1170px;
    height: 90px;
    display: block;
    position: fixed;
    top: 0;
    padding: 25px 35px;
    background: url(../images/bg-nav.png) no-repeat center top;
    background-size: 100% 100%;
    z-index: 9999;
    ul{
      list-style: none;
      padding: 0;
      margin: 3px 0 0 0;
      li{
        display: inline-block;
        margin: 0 28px 0 0;
        a{
          font-size: 18px;
          font-weight: bold;
          color: $white;
        }
      }
    }
    .btn{
      padding: 7px 20px;
      margin-top: -7px;
    }
    select{
      width: 100%;
      display: block;
    }
  }
  .social-network-header{
    margin: 0;
    padding: 0;
    li{
      width: 38px;
      height: 38px;
      display: inline-block;
      a{
        width: 38px;
        height: 38px;
        display: block;
        text-align: left;
        text-indent: -9999px;
        background: url(../images/sprite.png) no-repeat;
        &.facebook {
          background-position: 0 0;
        }
        &.twitter {
          background-position: -38px 0;
        }
        &:hover{
          @include opacity(0.9);
        }
      }
    }
  }
  .logo{
    width: 100%;
    height: 280px;
    margin: 50px 0 0 0;
    text-indent: -99999px;
    background: url(../images/logo-concurso-relax-na-medida.png) no-repeat center;
  }
  .phrases{
    margin: 30px 0 0 0;
    &:before{
      content: '';
      width: 66px;
      height: 72px;
      float: left;
      margin: 0 30px 0 0;
      background: url(../images/sprite.png) no-repeat -407px 0;
    }
    h3{
      width: 45%;
    }
    h3,h5{
      float: left;
      font-size: 30px;
      font-weight: bold;
      line-height: 28px;
      padding: 10px 0 0 0;
      margin: 0;
    }
    h4{
      width: 100%;
      float: left;
      clear: both;
      font-size: 82px;
      font-weight: bold;
      line-height: 80px;
      color: $orange;
    }
    h5{
      width: 70%;
    }
    &:after{
      content: '';
      width: 68px;
      height: 66px;
      float: right;
      margin: 0 50px 0 30px;
      background: url(../images/sprite.png) no-repeat -473px 0;
    }
  }
  @media (min-width: $screen-lg-min) {
    .navigation {
      left: 50%;
      margin: 0 0 0 -585px;
    }
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    .navigation {
      ul {
        li {
          margin-bottom: 3px !important;
          a {
            font-size: 16px !important;
          }
        }
      }
      .btn {
        font-size: 16px !important;
        padding: 7px 12px;
      }
    }
    .phrases{
      margin: 100px 0 0 0;
      h3{
        width: 60%;
      }
      h3,h5{
        font-size: 24px;
        line-height: 20px;
      }
      h4{
        font-size: 60px;
        line-height: 55px;
      }
      h5{
        width: 100%;
      }
      &:after{
        margin: 0 30px 0;
      }
    }
    .btn-main{
      margin: 0;
    }
    img.img-responsive{
      margin: 120px 0 0 0;
    }
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .navigation {
      ul {
        margin: 5px 0 0 0;
        li{
          margin-right: 15px;
        }
      }
    }
    .logo {
      margin: -15px 0 0 0;
    }
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .navigation {
      ul {
        margin: -10px 0 0 0;
      }
    }
    .logo {
      margin-top: 70px;
      background-size: contain;
    }
    .phrases{
      margin: 90px 0 0 0;
      &:before{
        margin-right: 15px;
      }
      h3{
        width: 60%;
        padding-top: 25px;
      }
      h3,h5{
        font-size: 16px;
        line-height: 14px;
      }
      h4{
        font-size: 38px;
        line-height: 33px;
      }
      h5{
        width: 100%;
      }
      &:after{
        margin: 0;
      }
    }
    .btn-main{
      margin: 0 !important;
    }
    img.img-responsive{
      position: relative;
      bottom: 0;
      margin: 70px 0 0 0;
    }
  }
  @media (max-width: $screen-xs-max) {
    .navigation{
      background-size: auto 90px !important;
    }
    .logo {
      height: 180px;
      margin: 30px 0 0 0;
      background-size: contain !important;
    }
    .phrases{
      margin: 50px 0 0 0;
      &:before{
        margin-right: 15px;
      }
      h3{
        padding-top: 25px;
      }
      h3,h5{
        font-size: 20px;
        line-height: 16px;
      }
      h4{
        width: 100%;
        font-size: 55px;
        line-height: 55px;
      }
      h5{
        width: 70%;
      }
      &:after{
        margin: 0;
      }
    }
    .margin-top-75{
      margin-top: 35px !important;
    }
    .home-buttons-xs{
      margin-top: 60px !important;
    }
    .btn-main{
      margin: 0 !important;
    }
    img.img-responsive{
      position: relative;
      bottom: 0;
      margin: 0;
    }
  }
  @media (max-width: $screen-xs-min) {
    .logo {
      margin: 20px 0 0 0;
    }
    .phrases{
      margin: 35px 0 0 0;
      h3{
        width: 70%;
      }
      h4{
        font-size: 48px;
        line-height: 45px;
      }
      h5{
        width: 100%;
      }
    }
    .margin-top-75{
      margin-top: 15px !important;
    }
    .home-buttons-xs{
      width: 100% !important;
      display: block;
      text-align: center !important;
      margin-top: 15px !important;
      .btn{
        width: 100%;
        .line-break{
          display: none;
        }
      }
    }
    .image-home-woman{
      margin-left: 17.5%;
    }
  }
}

.for-participate{
  width: 100%;
  min-height: 850px;
  display: block;
  background: url(../images/bg-for-participate.jpg) no-repeat center top $light-yellow;
}

.title{
  height: 161px;
  text-align: center;
  background: url(../images/bg-title-one-page.png) no-repeat;
  background-size: contain;
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .title{
    h3{
      margin-top: 10px !important;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .title{
    h2{
      font-size: 27px !important;
      margin-top: 5px !important;
    }
    h3{
      font-size: 27px !important;
      margin-top: 5px !important;
    }
  }
}

@media (max-width: $screen-xs-min) {
  .title{
    h2{
      font-size: 22px !important;
      margin-top: -3px !important;
    }
    h3{
      font-size: 22px !important;
      margin-top: -10px !important;
    }
  }
}

.btn-transparent{
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  color: $white;
  border: 2px solid $white;
  background: transparent;
  &:hover{
    color: $orange;
    background-color: $white;
  }
}

.input-transparent{
  font-family: 'Roboto Slab', serif;
  color: $white;
  border: 2px solid $white;
  background: transparent;
}

/* BTN MAIN */
.btn-main{
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  color: $white;
  border: 2px solid $dark-blue;
  background: url(../images/bg-button.png);
  &:hover{
    color: $white;
    border-color: darken($dark-blue, 10%);
    background-image: none;
    background-color: lighten($dark-blue, 20%);
  }
}
/* INPUT MAIN */
.input-main{
  font-weight: bold;
  height: 36px;
  padding: 5px 10px;
  color: $brown;
  background-color: transparent;
  border: 2px solid $light-brown;
  @include border-radius(5px);
  @include placeholder($light-brown);
  &:focus {
    @include box-shadow(none);
    background-color: transparent;
  }
}

form {
  label.radio-check {
    display: inline-block;
    vertical-align: middle;
    input[type=radio] {
      width: 23px;
      height: 23px;
      float: left;
      margin-right: 11px;
      background-color: $bg-gray;
      border: 1px solid $light-brown;
      @include border-radius(23px);
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      &:checked{
        &::before {
          content: '';
          width: 10px;
          height: 10px;
          position: absolute;
          margin: 6px 0 0 6px;
          @include border-radius(10px);
          background-color: $light-brown;
        }
      }
    }
  }
}

.horizontal-bar{
  width: 100%;
  height: 10px;
  display: block;
  background: url(../images/sprite.png) no-repeat center -77px;
}

/* MARGINS */
.margin-top-0{ margin-top: 0 !important; }
.margin-top-5{ margin-top: 5px !important; }
.margin-top-10{ margin-top: 10px !important; }
.margin-top-15{ margin-top: 15px !important; }
.margin-top-20{ margin-top: 20px !important; }
.margin-top-25{ margin-top: 25px !important; }
.margin-top-30{ margin-top: 30px !important; }
.margin-top-35{ margin-top: 35px !important; }
.margin-top-40{ margin-top: 40px !important; }
.margin-top-45{ margin-top: 45px !important; }
.margin-top-50{ margin-top: 50px !important; }
.margin-top-75{ margin-top: 75px !important; }
.margin-right-0{ margin-right: 0 !important; }
.margin-right-5{ margin-right: 5px !important; }
.margin-right-10{ margin-right: 10px !important; }
.margin-right-15{ margin-right: 15px !important; }
.margin-right-20{ margin-right: 20px !important; }
.margin-right-25{ margin-right: 25px !important; }
.margin-bottom-0{ margin-bottom: 0 !important; }
.margin-bottom-5{ margin-bottom: 5px !important; }
.margin-bottom-10{ margin-bottom: 10px !important; }
.margin-bottom-15{ margin-bottom: 15px !important; }
.margin-bottom-20{ margin-bottom: 20px !important; }
.margin-bottom-25{ margin-bottom: 25px !important; }
.margin-bottom-30{ margin-bottom: 30px !important; }
.margin-bottom-35{ margin-bottom: 35px !important; }
.margin-bottom-40{ margin-bottom: 40px !important; }
.margin-bottom-45{ margin-bottom: 45px !important; }
.margin-bottom-50{ margin-bottom: 50px !important; }
.margin-left-0{ margin-left: 0 !important; }
.margin-left-5{ margin-left: 5px !important; }
.margin-left-10{ margin-left: 10px !important; }
.margin-left-15{ margin-left: 15px !important; }
.margin-left-20{ margin-left: 20px !important; }
.margin-left-25{ margin-left: 25px !important; }
/* PADDINGS */
.padding-top-0{ padding-top: 0 !important; }
.padding-top-5{ padding-top: 5px !important; }
.padding-top-7{ padding-top: 7px !important; }
.padding-top-10{ padding-top: 10px !important; }
.padding-top-15{ padding-top: 15px !important; }
.padding-top-20{ padding-top: 20px !important; }
.padding-right-0{ padding-right: 0 !important; }
.padding-right-5{ padding-right: 5px !important; }
.padding-right-10{ padding-right: 10px !important; }
.padding-right-15{ padding-right: 15px !important; }
.padding-right-20{ padding-right: 20px !important; }
.padding-bottom-0{ padding-bottom: 0 !important; }
.padding-bottom-5{ padding-bottom: 5px !important; }
.padding-bottom-10{ padding-bottom: 10px !important; }
.padding-bottom-15{ padding-bottom: 15px !important; }
.padding-bottom-20{ padding-bottom: 20px !important; }
.padding-left-0{ padding-left: 0 !important; }
.padding-left-5{ padding-left: 5px !important; }
.padding-left-10{ padding-left: 10px !important; }
.padding-left-15{ padding-left: 15px !important; }
.padding-left-20{ padding-left: 20px !important; }
/* FONT */
.lobster-two{
  font-family: 'Lobster Two', cursive !important;
}
.roboto-slab{
  font-family: 'Roboto Slab', serif !important;
}
/* COLOR */
.text-orange{
  color: $orange;
}
a.text-orange:hover{
  color: lighten($orange, 10%);
  text-decoration: none;
}
.text-brown {
  color: $brown;
}
a.text-brown:hover{
  color: lighten($brown, 10%);
  text-decoration: none;
}
.text-yellow {
  color: $yellow;
}
a.text-yellow:hover{
  color: lighten($yellow, 10%);
  text-decoration: none;
}
.text-light-brown {
  color: $light-brown;
}
a.text-light-brown:hover{
  color: lighten($light-brown, 10%);
  text-decoration: none;
}
.text-white {
  color: $white;
}
a.text-white:hover{
  color: darken($white, 10%);
  text-decoration: none;
}
.text-black {
  color: $black;
}
a.text-black:hover{
  color: lighten($black, 10%);
  text-decoration: none;
}

/* FONT WEIGHT */
.lighter{ font-weight: lighter; }
.normal{ font-weight: normal; }
.strong{ font-weight: bold; }

/* FONT SIZE */
.font-size-10{ font-size: 10px; }
.font-size-11{ font-size: 11px; }
.font-size-12{ font-size: 12px; }
.font-size-14{ font-size: 14px; }
.font-size-16{ font-size: 16px; }
.font-size-18{ font-size: 18px; }
.font-size-20{ font-size: 20px; }
.font-size-22{ font-size: 22px; }
.font-size-24{ font-size: 24px; }
.font-size-26{ font-size: 26px; }
.font-size-28{ font-size: 28px; }
.font-size-30{ font-size: 30px; }
.font-size-36{ font-size: 36px; }

.remove-padding{ padding: 0 !important; }
.remove-padding-t{ padding-top: 0 !important; }
.remove-padding-r{ padding-right: 0 !important; }
.remove-padding-b{ padding-bottom: 0 !important; }
.remove-padding-l{ padding-left: 0 !important; }

.remove-margin{ margin: 0 !important; }
.remove-margin-t{ margin-top: 0 !important; }
.remove-margin-r{ margin-right: 0 !important; }
.remove-margin-b{ margin-bottom: 0 !important; }
.remove-margin-l{ margin-left: 0 !important; }

.steps{ color: $orange; }


.pc10{ width: 10%; }
.pc20{ width: 20%; }
.pc30{ width: 30%; }
.pc40{ width: 40%; }
.pc50{ width: 50%; }
.pc60{ width: 60%; }
.pc70{ width: 70%; }
.pc80{ width: 80%; }
.pc90{ width: 90%; }
.pc100{ width: 100%; }

.clear{ width: 100%; float: left; clear: both; }