// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

::selection { background:$orange; color:$white; } /* WebKit, Opera, & IE9 */
::-moz-selection { background:$orange; color:$white; } /* Firefox */

body{
  width: 100%;
  font-family: 'Roboto Slab', serif;
  color: $brown;
  background-color: $orange;
  a{
    cursor: pointer !important;
  }
}

.header{
  width: 100%;
  max-height: 1135px;
  display: block;
  padding-top: 90px;
  border-bottom: 18px solid $orange;
  background: url(../images/bg-header.jpg) repeat-x center top;

  .navigation{
    width: 100%;
    max-width: 1170px;
    height: 90px;
    display: block;
    position: fixed;
    top: 0;
    padding: 25px 35px;
    background: url(../images/bg-nav.png) no-repeat center top;
    background-size: 100% 100%;
    z-index: 99;
    ul{
      list-style: none;
      padding: 0;
      margin: 3px 0 0 0;
      li{
        display: inline-block;
        margin: 0 28px 0 0;
        a, a:focus{
          font-size: 18px;
          font-weight: bold;
          color: $white;
          text-decoration: none;
          &:hover{
            text-decoration: none !important;
            opacity: 0.95;
          }
        }
      }
    }
    .btn{
      padding: 7px 20px;
      margin-top: -7px;

      &:focus {
        color: $white;
        &:hover{
          color:$orange;
        }
      }

    }
    select{
      width: 100%;
      display: block;
    }

    .intranet {
        float: right;
        margin: -4px 0 0 0;
        padding: 0;
        li{
          width: 38px;
          height: 38px;
          display: inline-block;
          &:last-child{
            margin: 0;
          }
          a{
            width: 38px;
            height: 38px;
            display: block;
            text-align: left;
            text-indent: -9999px;
            background: url(../images/sprite.png) no-repeat;
            &.meus-dados {
              background-position: 0 -38px;
            }
            &.frases {
              background-position: -38px -38px;
            }
            &.sair {
              background-position: -76px -38px;
            }
            &:hover{
              @include opacity(0.9);
            }
          }
        }
      }
    }
    @media (max-width: $screen-lg-min) {
      .intranet {
        margin: -6px 0 0 0 !important;
      }
    }

  .social-network-header{
    margin: 0;
    padding: 0;
    li{
      width: 38px;
      height: 38px;
      display: inline-block;
      a{
        width: 38px;
        height: 38px;
        display: block;
        text-align: left;
        text-indent: -9999px;
        background: url(../images/sprite.png) no-repeat;
        &.facebook {
          background-position: 0 0;
        }
        &.twitter {
          background-position: -38px 0;
        }
        &:hover{
          @include opacity(0.9);
        }
      }
    }
  }
  .logo{
    width: 100%;
    height: 280px;
    margin: 50px 0 0 0;
    text-indent: -99999px;
    background: url(../images/logo-concurso-relax-na-medida.png) no-repeat center;
  }

  .phrases{
    margin: 30px 0 0 0;
    &:before{
      content: '';
      width: 66px;
      height: 72px;
      float: left;
      margin: 0 30px 0 0;
      background: url(../images/sprite.png) no-repeat -407px 0;
    }
    h3{
      width: 45%;
    }
    h3,h5{
      float: left;
      font-size: 30px;
      font-weight: bold;
      line-height: 28px;
      padding: 10px 0 0 0;
      margin: 0;
    }
    h4{
      width: 100%;
      float: left;
      clear: both;
      font-size: 82px;
      font-weight: bold;
      line-height: 80px;
      color: $orange;
    }
    h5{
      width: 70%;
    }
    &:after{
      content: '';
      width: 68px;
      height: 66px;
      float: right;
      margin: 0 50px 0 30px;
      background: url(../images/sprite.png) no-repeat -473px 0;
    }
  }
  @media (min-width: $screen-lg-min) {
    .navigation {
      left: 50%;
      margin: 0 0 0 -585px;
    }
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    .navigation {
      ul {
        li {
          margin-bottom: 3px !important;
          a {
            font-size: 16px !important;
          }
        }
      }
      .btn {
        font-size: 16px !important;
        padding: 7px 12px;
      }
    }
    .phrases{
      margin: 100px 0 0 0;
      h3{
        width: 60%;
      }
      h3,h5{
        font-size: 24px;
        line-height: 20px;
      }
      h4{
        font-size: 60px;
        line-height: 55px;
      }
      h5{
        width: 100%;
      }
      &:after{
        margin: 0 30px 0;
      }
    }
    .btn-main{
      margin: 0;
    }
    img.img-responsive{
      margin: 120px 0 0 0;
    }
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .navigation {
      ul {
        margin: 5px 0 0 0;
        li{
          margin-right: 15px;
        }
      }
    }
    .logo {
      margin: -15px 0 0 0;
    }
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .navigation {
      ul {
        margin: -10px 0 0 0;
      }
    }
    .logo {
      margin-top: 70px;
      background-size: contain;
    }
    .phrases{
      margin: 90px 0 0 0;
      &:before{
        margin-right: 15px;
      }
      h3{
        width: 60%;
        padding-top: 25px;
      }
      h3,h5{
        font-size: 16px;
        line-height: 14px;
      }
      h4{
        font-size: 38px;
        line-height: 33px;
      }
      h5{
        width: 100%;
      }
      &:after{
        margin: 0;
      }
    }
    .btn-main{
      margin: 0 !important;
    }
    img.img-responsive{
      position: relative;
      bottom: 0;
      margin: 70px 0 0 0;
    }
  }
  @media (max-width: $screen-xs-max) {
    .navigation{
      background-size: auto 90px !important;
    }
    .logo {
      height: 180px;
      margin: 30px 0 0 0;
      background-size: contain !important;
    }
    .phrases{
      margin: 50px 0 0 0;
      &:before{
        margin-right: 15px;
      }
      h3{
        padding-top: 25px;
      }
      h3,h5{
        font-size: 20px;
        line-height: 16px;
      }
      h4{
        width: 100%;
        font-size: 55px;
        line-height: 55px;
      }
      h5{
        width: 70%;
      }
      &:after{
        margin: 0;
      }
    }
    .margin-top-75{
      margin-top: 35px !important;
    }
    .home-buttons-xs{
      margin-top: 60px !important;
    }
    .btn-main{
      margin: 0 !important;
    }
    img.img-responsive{
      position: relative;
      bottom: 0;
      margin: 0;
    }
  }
  @media (max-width: $screen-xs-min) {
    .logo {
      margin: 20px 0 0 0;
    }
    .phrases{
      margin: 35px 0 0 0;
      h3{
        width: 70%;
      }
      h4{
        font-size: 48px;
        line-height: 45px;
      }
      h5{
        width: 100%;
      }
    }
    .margin-top-75{
      margin-top: 15px !important;
    }
    .home-buttons-xs{
      width: 100% !important;
      display: block;
      text-align: center !important;
      margin-top: 15px !important;
      .btn{
        width: 100%;
        .line-break{
          display: none;
        }
      }
    }
    .image-home-woman{
      margin-left: 17.5%;
    }

  }
}

.social-network{
  margin: 0;
  padding: 0;
  li{
    width: 38px;
    height: 38px;
    display: inline-block;
    margin-bottom: 10px;
    a{
      width: 38px;
      height: 38px;
      display: block;
      text-align: left;
      text-indent: -9999px;
      background: url(../images/sprite.png) no-repeat;
      &.facebook {
        background-position: 0 0;
      }
      &.twitter {
        background-position: -38px 0;
      }
      &:hover{
        @include opacity(0.9);
      }
    }
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .social-network{
    margin-top: 20px;
  }
}
@media (max-width: $screen-xs-max) {
  .follow{
    padding-left: 10px !important;
  }
}

.awards {
  background: $light-yellow !important;
  padding-top: 40px;
}

.bg-wood{
  width: 100%;
  height: 49px;
  display: block;
  background: url(../images/bg-footer.jpg) repeat-x;
}
.footer{
    background-color: $light-yellow;
    .box {
      float: left;
      margin-top: 40px;
      &::before{
        content: '';
        width: 70px;
        height: 70px;
        float: left;
        margin: 0 30px 22px 0;
        background: url(../images/sprite.png) no-repeat -275px 0;
      }
      font-weight: bold;
    }

  .logo{
    width: 64px;
    height: 50px;
    margin: 0;
    padding: 0;
    background: url(../images/sprite.png) no-repeat -114px 0;
  }

  }


@media (max-width: $screen-sm-max) {
  .box {
    font-size: 10px !important;
    &::before{
      margin-right: 10px !important;
    }
  }
}
@media (max-width: $screen-sm-min) {
  .box {
    float: right;
    font-size: 10px !important;
    &::before{
      margin-right: 10px !important;
    }
  }
  .realization{
    float: left;
    margin-top: 0 !important;
    padding-bottom: 0 !important;
  }
}


.realization{
  float: right;
  background: url(../images/bg-footer-wood.png) no-repeat left top;
  .follow{
    padding-left: 30px;
  }
  .social-network {
    li{
      margin-right: 10px;
      a{
        &.instagram{
        background-position: -76px 0;
      }
      }
    }
  }
}

@media (max-width: $screen-lg-min) {
  .realization{
    background-position: 0px 0px !important;
    background-size: 100% 100% !important;
  }
}

@media (max-width: $screen-md-min) {
  .realization {
    .follow{
      p{
        display: none;
      }
    }
  }
}


.for-participate, .for-regulament{
  width: 100%;
  min-height: 850px;
  display: block;
}

.for-participate {
  background: url(../images/bg-for-participate.jpg) no-repeat center top $light-yellow;
  .warning {
    &::before {
      content: '';
      width: 63px;
      height: 60px;
      float: left;
      margin: 0 30px 22px 0;
      background: url(../images/sprite.png) no-repeat -344px 0;
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      &::before{
        margin-top: 10px;
      }
    }
  }
  @media (max-width: $screen-xs-max) {
    .warning{
      font-size: 12px;
      &::before{
        margin-top: 15px;
      }
    }
  }
  @media (max-width: $screen-xs-min) {
    .warning{
      font-size: 12px;
      text-align: center;
      &::before{
        float: none !important;
        display: block;
        margin: 0 auto 15px auto;
      }
    }
  }
}

.warning {
  &::before {
    content: '';
    width: 63px;
    height: 60px;
    float: left;
    margin: 0 30px 22px 0;
    background: url(../images/sprite.png) no-repeat -344px 0;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    &::before{
      margin-top: 10px;
    }
  }
}
@media (max-width: $screen-xs-max) {
  .warning{
    font-size: 12px;
    &::before{
      margin-top: 15px;
    }
  }
}
@media (max-width: $screen-xs-min) {
  .warning{
    font-size: 12px;
    text-align: center;
    &::before{
      float: none !important;
      display: block;
      margin: 0 auto 15px auto;
    }
  }
}


.i-want-participate{
  background: url(../images/bg-I-want-participante.jpg) no-repeat center top $bg-yellow;
  .tabs {
    font-size: 30px;

    ul {
      border-bottom: 3px solid $brown;
      //border: none !important;
      padding-left: 15px !important;
      li {
        margin-right: 60px;
        a {
          border: 3px solid transparent;
          border-bottom: 0 !important;
          @include border-radius(8px 8px 0 0);
          color: $light-brown;
          background: transparent;
          padding: 10px 20px;
          pointer-events: none;
          cursor: default;
          &:hover {
            color: $orange;
          }
        }
        &.active {
          a {
            border-color: $brown;
            color: $orange;
            background: $bg-yellow;
            &::after{
              content: '';
              width: 100%;
              height: 3px;
              position: absolute;
              left: 0;
              bottom: -2px;
              background-color: $bg-yellow;
            }
            &:hover{
              color: lighten($orange, 5%);
              border: 3px solid transparent;
              border-bottom: 0 !important;
              border-color: $brown;
            }
          }
        }
      }
    }
    .tab-content {
      width: 100%;
      float: left;
      clear: both;
//      padding-bottom: 80px;
      form {
        label {
          font-size: 16px;
          color: $light-brown !important;
          font-weight: normal !important;
          padding-top: 5px;
        }
        input[type=radio]{
          width: 23px;
          height: 23px;
          @include border-radius(23px);
          border: 1px solid $light-brown;
          background-color: $bg-gray;

        }
      }
    }
  }
}


@media (max-width: $screen-lg-min) {
  .i-want-participate{
    .tabs{
      font-size: 25px !important;
      ul{
        li{
          margin-right: 45px !important;
        }
      }
      .tab-content{
        form {
          label {
            font-size: 14px !important;
            margin-left: -8px !important;
          }
        }
      }
    }
  }
}

@media (max-width: $screen-md-min) {
  .i-want-participate{
    .tabs{
      font-size: 20px !important;
      ul{
        li{
          margin-right: 45px !important;
          a{
            padding: 10px 15px !important;
          }
        }
      }

      .tab-content{
        form {
          label {
            font-size: 16px !important;
            margin-left: 0 !important;
          }
        }
      }

    }
  }
}

@media (max-width: $screen-sm-min) {
  .font-size-18{
    font-size: 14px !important;
  }
  .i-want-participate{
    .tabs{
      font-size: 16px !important;
      ul{
        border-width: 2px !important;
        li{
          width: 33% !important;
          margin-right: 0 !important;
          text-align: center;
          a{
            border-width: 2px !important;
            padding: 10px !important;
          }
        }
      }

      .tab-content{
        form {
          label {
            font-size: 18px !important;
          }
        }
      }

    }
  }
}

@media (max-width: $screen-xs-min) {
  .i-want-participate{
    .tabs{
      font-size: 12px !important;
      ul{
        padding-left: 0 !important;
        li{
          width: 33% !important;
          margin-right: 0 !important;
          text-align: center;
          a{
            padding: 5px !important;
          }
        }
      }
      .tab-content{
        form {
          label {
            font-size: 12px !important;
          }
        }
      }
    }
  }
}

.login, .contact-us, .my-data, .my-moods, .winners{
  .modal-dialog{
//    margin: 215px auto;
    .modal-content {
      .modal-header {
        text-align: center;
        border-bottom: none !important;
        .close{
          background: url(../images/sprite.png) no-repeat -59px -87px $brown;
          @include border-radius(100px);
          width: 40px;
          height: 40px;
          opacity: 100;
          vertical-align: middle;
          &:hover{
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.contact-us, .my-data, .my-moods, .winners{
  .modal-dialog {
    .modal-content{
      background: url(../images/bg-for-participate.jpg) no-repeat center top $light-yellow;
      background-position: 52% -30px;
    }
  }
}

.login {
  .modal-dialog{
    .modal-content{
      background: url(../images/bg-for-participate.jpg) no-repeat center top $light-yellow;
      background-position: 50% -45px;
      .modal-header{
        .modal-title{
          padding-top: 25px;
        }
      }
      .modal-body {
        span{
          text-decoration: underline !important;
          cursor: pointer;
        }
      }
    }
  }
}

.contact-us {
  .modal-dialog{
    .modal-content{
      .modal-header{
        text-align: center;
        border-bottom: none;
      }
      .modal-body {
        p {
          text-align: center;
        }
        form {
          textarea {
            resize: none;
          }
        }
      }
    }
  }
}

.my-data {
  .modal-dialog{
    .modal-content{
      .modal-header{
        text-align: center;
        border-bottom: none;
      }
      .modal-body {
        span {
          text-transform: uppercase;
        }
      }
    }
  }
}

.my-moods {
  .modal-dialog{
    .modal-content{
      .modal-header{
        text-align: center;
        border-bottom: none;
      }
      .modal-body {
        span {
          text-transform: uppercase;
        }
        hr {
          border-top: 1px solid $black ;
        }
        ul{
          border-bottom: none;
          li{
            a{
              background: none;
              border: none;
              color: $light-brown;
              text-transform: uppercase;
            }
            &.active{
              a{
                color: $brown !important;
              }
            }
          }
        }
        form {
          textarea {
            resize: none;
          }
          label {
            text-transform: none;
            color: #ff0000;
            vertical-align: bottom;
            font-weight: normal;
            padding-top: 12px;
          }
        }
          label{
            color: #ff0000;
          }

        .stats{
          margin-left: -40px;

          p{
            padding-left: 35px;
            padding-top: 5px;
            white-space: nowrap;
          }
        }

        .approval {
            background: url(../images/sprite.png) no-repeat 0px -85px !important;
            width: 30px;
            height: 30px;
        }
        .analysis {
            background: url(../images/sprite.png) no-repeat -28px -87px;
            width: 30px;
            height: 30px;
        }
      }
    }
  }
}

@media (max-width: $screen-md-min) {
  .my-moods{
    .modal-content {
      .modal-header {
        header{
          h3 {
            font-size: 28px !important;
          }
        }
      }
    }
  }
}

.winners {
  .modal-dialog{
    .modal-content{
      .modal-header{
        text-align: center;
        border-bottom: none;
      }
      .modal-body {
        ul{
          border-bottom: none;
          li{
            a{
              background: none;
              border: none;
              color: $light-brown;
              text-transform: uppercase;
            }
            &.active{
              a{
                color: $brown !important;
              }
            }
          }
        }
        img {
          margin-left: 50px !important;
        }
      }
    }
  }
  .vacation{
    text-align: center;
  }
}

@media (max-width: $screen-md-min) {
  .winners{
    .modal-content {
      .modal-header {
        header{
          h3 {
            font-size: 30px !important;
          }
        }
      }
    }
  }
}

.regulament {
  background: url(../images/bg-regulation.jpg) no-repeat center 150px $bg-yellow;
  padding-top: 115px;
  .well {
    height: 650px;
    overflow: auto;
    background: no-repeat center top $bg-yellow;
    padding: 0 40px;
    border: 25px solid $bg-yellow;
    border-left: 0;
    border-right: 0;
    box-shadow: none !important;
  }
}

.partners{
  width: 97px;
  height: 55px;
  background: url(../images/sprite.png) no-repeat -178px 0;
}

.products{
  min-height: 260px;

  .carousel-indicators {
    li {
      border: 0;
      background: $light-brown !important;
      width: 14px;
      height: 14px;
      margin: 0 8px;
    }
    .active {
      border: 0;
      background: $brown !important;
    }

  }
}
@media (max-width: $screen-xs-max) {
  .well{
    padding: 0 15px !important;
    border-top-width: 10px !important;
    border-bottom-width: 10px !important;
    font-size: 13px;
    p{
      font-size: 12px;
    }
  }
  .products-partners{
    .font-size-16{
      font-size: 12px !important;
    }
  }
}


@media (max-width: $screen-lg-min) {
  .products{

    min-height: 205px !important;

    .carousel-indicators{
      bottom: 0 !important;
    }
  }
}

@media (max-width: $screen-md-min) {
  .products{

    min-height: 148px !important;

    .carousel-indicators{
      bottom: -30px !important;
      li{
        width: 12px;
        height: 12px;
        margin: 0 5px;
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .description-products{
    position: absolute;
  }
}

.products-partners {
  background: url(../images/bg-products.jpg) repeat-x $bg-yellow;
  margin-top: 100px;
  padding-top: 100px;

  .carousel-control {
    background: none !important;
    opacity: 100;

    &:hover{
      opacity: 0.8;
    }

  }

  .arrow-left {
    border: 2px solid $dark-blue;
    background: url(../images/bg-button.png);
    @include border-radius(100px);
    margin-top: 155px;
    margin-left: 70px;
    width: 65px;
    height: 65px;
    .arrow-left-icon{
      background: url(../images/sprite.png) no-repeat -542px -30px !important;
      width: 20px;
      height: 30px;
      margin-left: 20px;
      margin-top: 16px;
    }
  }

  .arrow-right {
    border: 2px solid $dark-blue;
    background: url(../images/bg-button.png);
    @include border-radius(100px);
    margin-top: 155px;
    margin-left: 10px;
    width: 65px;
    height: 65px;
    .arrow-right-icon{
      background: url(../images/sprite.png) no-repeat -542px 0 !important;
      width: 20px;
      height: 30px;
      margin-left: 24px;
      margin-top: 16px;
    }
  }

}

@media (max-width: $screen-md-min) {
  .products-partners{

    .arrow-left, .arrow-right {
      margin-top: 290px;
      margin-left: 30px;
    }

  }
}

@media (max-width: $screen-sm-min) {
  .products-partners{

    .arrow-left, .arrow-right{
      width: 50px;
      height: 50px;
      margin-top: 270px;
      margin-left: 0;
    }

    .arrow-left-icon {
      margin-left: 13px !important;
      margin-top: 10px !important;
    }

    .arrow-right-icon {
      margin-left: 18px !important;
      margin-top: 8px !important;
    }

  }
}

@media (max-width: $screen-xs-min) {
  .products-partners{

    .arrow-left, .arrow-right{
      width: 40px;
      height: 40px;
      margin-top: 335px;
      margin-left: 0;
    }

    .arrow-left-icon {
      margin-left: 8px !important;
      margin-top: 5px !important;
    }

    .arrow-right-icon {
      margin-left: 13px !important;
      margin-top: 4px !important;
    }

  }
}


.title{
  height: auto;
  max-height: 161px;
  text-align: center;
  background: url(../images/bg-title-one-page.png) no-repeat center;
  background-size: contain;
  h3{
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .title{
    h3{
      margin-top: 10px !important;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .title{
    h2{
      font-size: 25px !important;
      margin-top: 15px !important;
    }
    h3{
      font-size: 25px !important;
      margin-top: 5px !important;
    }
  }
}

@media (max-width: $screen-xs-min) {
  .title{
    h2{
      font-size: 15px !important;
      margin-top: 15px !important;
    }
    h3{
      font-size: 15px !important;
      margin-top: -10px !important;
    }
  }
}

.popover{
  font-size: 18px;
  font-weight: bold;
  color: $orange;
  border: 0;
  @include box-shadow(none);
}

.btn-transparent{
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  color: $white;
  border: 2px solid $white;
  background: transparent;
  &:hover{
    color: $orange;
    background-color: $white;
  }
}

.input-transparent{
  font-family: 'Roboto Slab', serif;
  color: $white;
  border: 2px solid $white;
  background: transparent;
}

/* BTN MAIN */
.btn-main{
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  color: $white;
  border: 2px solid $dark-blue;
  background: url(../images/bg-button.png);
  &:hover{
    color: $white;
    border-color: darken($dark-blue, 10%);
    background-image: none;
    background-color: lighten($dark-blue, 20%);
  }
}
/* INPUT MAIN */
.input-main{
  height: 40px;
  font-weight: bold;
  padding: 5px 10px 5px 20px;
  color: $brown !important;
  background-color: transparent;
  border: 2px solid $light-brown;
  @include border-radius(5px);
  @include placeholder($light-brown);
  &:focus {
    @include box-shadow(none);
    background-color: transparent;
    border-color: darken($light-brown, 10%);
  }
}
@media (max-width: $screen-lg-min) {
  .input-main{
    padding-left: 10px;
  }
}

form {
  label.radio-main {
    display: inline-block;
    vertical-align: middle;
    input[type=radio] {
      width: 22px;
      height: 22px;
      float: left;
      margin: 0 10px;
      background-color: $bg-gray;
      border: 1px solid $light-brown;
      @include border-radius(22px);
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      &:checked{
        &::before {
          content: '';
          width: 9px;
          height: 9px;
          position: absolute;
          margin: 6px 0 0 6px;
          @include border-radius(10px);
          background-color: $light-brown;
        }
      }
    }
  }
  label.checkbox-main{
    display: inline-block;
    vertical-align: middle;
    font-size: 17px;
    input[type=checkbox] {
      width: 22px;
      height: 22px;
      float: left;
      margin: 0 10px;
      background-color: $bg-gray;
      border: 1px solid $light-brown;
      @include border-radius(5px);
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      &:checked{
        &::before {
          content: '';
          width: 14px;
          height: 14px;
          position: absolute;
          margin: 3px 0 0 3px;
          background: url(../images/sprite.png) no-repeat -124px -56px;
        }
      }
    }
  }
  a.question-tooltip{
    font-size: 14px;
    color: $brown;
    &:hover{
      text-decoration: none;
    }
  }
}

/* START .form-profile */
.form-profile{
  input[type=text], input[type=email], select{
    height: 30px;
    padding-left: 10px;
    display: none;
  }
  label{
    display: block;
    cursor: default;
    margin-bottom: 10px;
    em{
      font-style: normal;
      font-weight: normal;
      cursor: pointer;
    }
  }
  label.error{
    display:block;
    margin: -8px 0 10px 0;
    font-size: 11px;
    font-weight: 400;
  }
  a{
    font-size: 11px;
    color: $orange;
    float: right;
    line-height: 44px;
  }
}/* END .form-profile */

.horizontal-bar{
  width: 100%;
  height: 10px;
  display: block;
  background: url(../images/sprite.png) no-repeat center -77px;
}

.size-45{ width: 45% !important; }

.checked {
  &::before {
    content: '';
    width: 178px;
    height: 130px;
    float: left;
    margin: -20px 60px 20px 20px;
    background: url(../images/icon-registration-successfull.png) no-repeat center;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    &::before{
      margin-top: 10px;
    }
  }
}
@media (max-width: $screen-xs-max) {
  .checked{
    font-size: 12px;
    &::before{
      margin-top: 15px;
    }
  }
}
@media (max-width: $screen-xs-min) {
  .checked{
    font-size: 12px;
    text-align: center;
    &::before{
      float: none !important;
      display: block;
      margin: 0 auto 15px auto;
    }
  }
}


/* MARGINS */
.margin-top-0{ margin-top: 0 !important; }
.margin-top-5{ margin-top: 5px !important; }
.margin-top-10{ margin-top: 10px !important; }
.margin-top-15{ margin-top: 15px !important; }
.margin-top-20{ margin-top: 20px !important; }
.margin-top-25{ margin-top: 25px !important; }
.margin-top-30{ margin-top: 30px !important; }
.margin-top-35{ margin-top: 35px !important; }
.margin-top-40{ margin-top: 40px !important; }
.margin-top-45{ margin-top: 45px !important; }
.margin-top-50{ margin-top: 50px !important; }
.margin-top-60{ margin-top: 50px !important; }
.margin-top-70{ margin-top: 70px !important; }
.margin-top-75{ margin-top: 75px !important; }
.margin-top-90{ margin-top: 90px !important; }
.margin-top-100{ margin-top: 100px !important; }
.margin-top-120{ margin-top: 120px !important; }
.margin-right-0{ margin-right: 0 !important; }
.margin-right-5{ margin-right: 5px !important; }
.margin-right-10{ margin-right: 10px !important; }
.margin-right-15{ margin-right: 15px !important; }
.margin-right-20{ margin-right: 20px !important; }
.margin-right-25{ margin-right: 25px !important; }
.margin-bottom-0{ margin-bottom: 0 !important; }
.margin-bottom-5{ margin-bottom: 5px !important; }
.margin-bottom-10{ margin-bottom: 10px !important; }
.margin-bottom-15{ margin-bottom: 15px !important; }
.margin-bottom-20{ margin-bottom: 20px !important; }
.margin-bottom-25{ margin-bottom: 25px !important; }
.margin-bottom-30{ margin-bottom: 30px !important; }
.margin-bottom-35{ margin-bottom: 35px !important; }
.margin-bottom-40{ margin-bottom: 40px !important; }
.margin-bottom-45{ margin-bottom: 45px !important; }
.margin-bottom-50{ margin-bottom: 50px !important; }
.margin-bottom-85{ margin-bottom: 85px !important; }
.margin-bottom-115{ margin-bottom: 115px !important; }
.margin-bottom-120{ margin-bottom: 120px !important; }
.margin-left-0{ margin-left: 0 !important; }
.margin-left-5{ margin-left: 5px !important; }
.margin-left-10{ margin-left: 10px !important; }
.margin-left-15{ margin-left: 15px !important; }
.margin-left-20{ margin-left: 20px !important; }
.margin-left-25{ margin-left: 25px !important; }
/* PADDINGS */
.padding-top-0{ padding-top: 0 !important; }
.padding-top-5{ padding-top: 5px !important; }
.padding-top-7{ padding-top: 7px !important; }
.padding-top-10{ padding-top: 10px !important; }
.padding-top-15{ padding-top: 15px !important; }
.padding-top-20{ padding-top: 20px !important; }
.padding-top-25{ padding-top: 25px !important; }
.padding-top-150{ padding-top: 150px !important; }
.padding-right-0{ padding-right: 0 !important; }
.padding-right-5{ padding-right: 5px !important; }
.padding-right-10{ padding-right: 10px !important; }
.padding-right-15{ padding-right: 15px !important; }
.padding-right-20{ padding-right: 20px !important; }
.padding-bottom-0{ padding-bottom: 0 !important; }
.padding-bottom-5{ padding-bottom: 5px !important; }
.padding-bottom-10{ padding-bottom: 10px !important; }
.padding-bottom-15{ padding-bottom: 15px !important; }
.padding-bottom-20{ padding-bottom: 20px !important; }
.padding-bottom-35{ padding-bottom: 35px !important; }
.padding-left-0{ padding-left: 0 !important; }
.padding-left-5{ padding-left: 5px !important; }
.padding-left-10{ padding-left: 10px !important; }
.padding-left-15{ padding-left: 15px !important; }
.padding-left-20{ padding-left: 20px !important; }
.padding-left-30{ padding-left: 30px !important; }
/* FONT */
.lobster-two{
  font-family: 'Lobster Two', cursive !important;
}
.roboto-slab{
  font-family: 'Roboto Slab', serif !important;
}
/* COLOR */
.text-orange{
  color: $orange;
}
a.text-orange:hover{
  color: lighten($orange, 10%);
  text-decoration: none;
}
.text-brown {
  color: $brown;
}
a.text-brown:hover{
  color: lighten($brown, 10%);
  text-decoration: none;
}
.text-yellow {
  color: $yellow;
}
a.text-yellow:hover{
  color: lighten($yellow, 10%);
  text-decoration: none;
}
.text-light-brown {
  color: $light-brown !important;
}
a.text-light-brown:hover{
  color: lighten($light-brown, 10%);
  text-decoration: none;
}
.text-white {
  color: $white;
}
a.text-white:hover{
  color: darken($white, 10%);
  text-decoration: none;
}
.text-black {
  color: $black;
}
a.text-black:hover{
  color: lighten($black, 10%);
  text-decoration: none;
}

/* FONT WEIGHT */
.lighter{ font-weight: lighter; }
.normal{ font-weight: normal; }
.strong{ font-weight: bold; }

/* FONT SIZE */
.font-size-10{ font-size: 10px; }
.font-size-11{ font-size: 11px; }
.font-size-12{ font-size: 12px; }
.font-size-14{ font-size: 14px; }
.font-size-16{ font-size: 16px; }
.font-size-18{ font-size: 18px; }
.font-size-20{ font-size: 20px; }
.font-size-22{ font-size: 22px; }
.font-size-24{ font-size: 24px; }
.font-size-26{ font-size: 26px; }
.font-size-27{ font-size: 27px; }
.font-size-28{ font-size: 28px; }
.font-size-30{ font-size: 30px; }
.font-size-36{ font-size: 36px; }
.font-size-40{ font-size: 40px; }

.remove-padding{ padding: 0 !important; }
.remove-padding-t{ padding-top: 0 !important; }
.remove-padding-r{ padding-right: 0 !important; }
.remove-padding-b{ padding-bottom: 0 !important; }
.remove-padding-l{ padding-left: 0 !important; }

.remove-margin{ margin: 0 !important; }
.remove-margin-t{ margin-top: 0 !important; }
.remove-margin-r{ margin-right: 0 !important; }
.remove-margin-b{ margin-bottom: 0 !important; }
.remove-margin-l{ margin-left: 0 !important; }

.pc10{ width: 10%; }
.pc20{ width: 20%; }
.pc30{ width: 30%; }
.pc40{ width: 40%; }
.pc50{ width: 50%; }
.pc60{ width: 60%; }
.pc70{ width: 70%; }
.pc80{ width: 80%; }
.pc90{ width: 90%; }
.pc100{ width: 100%;}

.clear{ width: 100%; float: left; clear: both; }